@media (min-width: 200px) and (max-width: 1601px) {
h1 {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    font-style: italic;
}   
h2 {
    color:#a801f5e8;
    width: 400px;
}
* {
    text-align: justify;
}
ol {
    list-style-position: inside;
}
body {
    font-size: x-large;
}
body {
    background-color: #b4c4d6;
}
#reserved > p {
    background-color: #563A9C;
    color: hsl(0, 0%, 97%);
}
}
@media (min-width: 300px) {
img {
    float: left;
    width: 300px;
    height: 300px;
}
}