h1 {
    color: blue;
    background-color: #85A98F;
}
body {
    font-size: 2rem;
}
body > p:nth-child(2) {
    display: inline-block;
    
}
body > p:nth-child(3) {
    display: inline;
    color: rgb(3, 52, 160);
    font-style: italic;
}
body > p:nth-child(2) {
    font-size: 3rem;
}
body > p:nth-child(4) {
    font-size: 4rem;
    display: block;
}
body > dev > p:nth-child(2) {
    font-size: 3rem;
}
.contact {
    color: blue;
    font-size: 2rem;
}
